<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:if="${session?.loginMember} == null"> <!--로그인 안된 상태-->
        <div th:replace="fragments/bodyHeader-login :: bodyHeader" />
    </div>
    <div th:if="${session?.loginMember} != null">
        <div th:replace="~{fragments/bodyHeader :: bodyHeader (${session.loginMember.nickname})}" />
    </div>
    <div class="jumbotron">
        <h2>상세 페이지</h2>
        대표이미지:
        <img th:src="@{/webapp/upload/} + ${singleProduct.getThumbnail()}">
        <br>
        글 제목: <span th:text="${singleProduct.title}">제목</span><br>
        작성자: <span th:text="${singleProduct.nickName}">닉네임</span><br>
        날짜: <span th:text="${singleProduct.createDate}">날짜</span><br>
        가격: <span th:text="${singleProduct.price}">날짜</span><br>
        상세 설명: <span th:text="${singleProduct.intro}">상세설명</span><br>

    </div>
    <div th:if="${session?.loginMember} != null">
        <div th:if="${session?.loginMember.userId} == ${writerId}">
            <a href="#" th:href="@{/product/{id}/edit (id=${singleProduct.productId})}"
               class="btn btn-primary" role="button">수정</a>
            <a href="#" th:href="@{/product/{id}/delete (id=${singleProduct.productId})}"
               class="btn btn-primary" role="button">삭제</a>
        </div>
        <div th:if="${session?.loginMember.userId} != ${writerId}">
            <a href="#" th:href="@{/product/{id}/delete (id=${singleProduct.productId})}"
               class="btn btn-primary" role="button">상품 문의하기</a>
        </div>
        <div th:if="${session?.loginMember.userId} != ${writerId}">
            <a href="#" th:href="@{/product/{id}/delete (id=${singleProduct.productId})}"
               class="btn btn-primary" role="button">상품 찜하기</a>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>