<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" th:inline="javascript">
    $(function () {
        $("#myWishList").hide();

        $("#myProductBtn").click(function () {
            $("#myProducts").show();
            $("#myWishList").hide();

        });

        $("#myWishListBtn").click(function () {
            $("#myWishList").show();
            $("#myProducts").hide();
        });
    });
</script>
<div class="container">
    <div th:if="${session?.loginMember} != null">
        <div th:replace="~{fragments/bodyHeader :: bodyHeader (${session?.loginMember.nickname})}" />
    </div>
    <div class="jumbotron">
        <button type="button" class="btn btn-primary" id="myProductBtn">내 상품</button>
        <button type="button" class="btn btn-primary" id="myWishListBtn">관심 상품</button>

        <div id="myProducts">
            <h2>내가 올린 상품</h2>
            <div th:each="product : ${products}">
                <div>
                    <a th:href="@{/product/detail/{productId}(productId=${product.id})}">
                        <img th:src="@{/webapp/upload/} + ${product.thumbnail}" width="300" height="300">
                    </a>
                    <a th:text="${product.title}" th:href="@{/product/detail/{productId}(productId=${product.id})}">제목입니다.</a>
                    <span th:text="${product.productStatus}">주문상태입니다.</span>
                </div>
            </div>
        </div>

        <div id="myWishList">
            <h2>WISH LIST</h2>
            <div th:each="wishItems : ${wishItems}">
                <div>
                    <a th:href="@{/product/detail/{productId}(productId=${wishItems.id})}">
                        <img th:src="@{/webapp/upload/} + ${wishItems.thumbnail}" width="300" height="300">
                    </a>
                    <a th:text="${wishItems.title}" th:href="@{/product/detail/{productId}(wishItems=${wishItems.id})}">제목입니다.</a>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footer :: footer" />
    </div> <!-- /container -->
</body>
</html>