<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="bodyHeader (memberName)">
    <ul class="nav nav-pills pull-right">
        <li><a href="/">MING_MARKET</a></li>
    </ul>
    <a href="/"><h3 class="text-muted">MING_MARKET</h3></a>
    <div>
        <h4 th:text="${memberName}">
            로그인 사용자 이름
        </h4>
        <form th:action="@{/logout}" method="post">
            <button class="w-100 btn btn-dark btn-lg" type="submit">
                로그아웃
            </button>
        </form>
    <a href="/product/new"><h3 class="text-muted">NEW PRODUCT</h3></a>
    </div>
</div>