<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:if="${member} == null"> <!--로그인 안된 상태-->
        <div th:replace="fragments/bodyHeader-login :: bodyHeader" />
    </div>
    <div th:if="${member} != null"> <!--로그인 된 상태-->
        <div th:replace="~{fragments/bodyHeader :: bodyHeader (${member.nickname})}" />
    </div>

    <div class="jumbotron">
        <div th:each="product : ${products}">
            <a th:href="@{/product/detail/{productId}(productId=${product.id})}">
                <img th:src="@{/webapp/upload/} + ${product.thumbnail}" width="300" height="300">
            </a>
            <a th:text="${product.title}" th:href="@{/product/detail/{productId}(productId=${product.id})}">제목입니다.</a>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>