<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:if="${member} == null"> <!--로그인 안된 상태-->
        <div th:replace="fragments/bodyHeader-login :: bodyHeader" />
    </div>
    <div th:if="${member} != null"> <!--로그인 된 상태-->
        <div th:replace="~{fragments/bodyHeader :: bodyHeader (${member.username})}" />
    </div>

    <div class="jumbotron">
        상품 리스트가 뜹니다!!

    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>